<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src='/js/main.js'></script>
    </head>
    <body>
        <h6>NAV BAR GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>

        {{{ body }}}

        <h6>FOOTER GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>
    </body>
</html>