<h1>Articles#index</h1>
<!-- <p>Find me in app/views/articles/index.html.erb</p> -->

<h1><%= @message %></h1>

<% @articles.each do |article| %>
  <p><%= link_to article.title, comments_index_path(article_id: article.id) %></p>
<% end %>
