<h1>Make a New Pokemon</h1>
<form action='/pokemon' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="url" name="img" placeholder="Image Url"><br>
  <input type="text" name="type" placeholder="Type"><br>
  <input type="number" name="stats.hp" placeholder="Hp Stat"><br>
  <input type="number" name="stats.attack" placeholder="Attack Stat"><br>
  <input type="number" name="stats.defense" placeholder="Defense Stat"><br>
  <input type="number" name="stats.spattack" placeholder="Sp.Attack Stat"><br>
  <input type="number" name="stats.spdefense" placeholder="Sp.Defense Stat"><br>
  <input type="number" name="stats.speed" placeholder="Speed Stat"><br>
  <input type="submit" value="Create New Pokemon">
</form>